---
const props = Astro.props
// import Carousel from './Carousel.astro'
// import 'bootstrap/dist/css/bootstrap.css'
// import faqJson from '../../public/jsonData/faq.json'
// import homeJson from '../../public/jsonData/home.json'

// interface Coreteam{
//     name : string;
//     position : string[];
//     institute : string;
// }

// interface Significance{
//     intro : string;
//     point: string[];
//     end: string;
// }

// interface PartnerAndOrganisations{
//     name: string;
//     description: string;
// }

// interface Faq{
//     question: string;
//     answer: string;
// }

// interface Home{
//     significance: Significance[];
//     purpose: string[];
//     partners: PartnerAndOrganisations[];
//     coreteam: Coreteam[];
// }

// const homeData : Home = homeJson;
// const faqData : Faq[] = faqJson;

//importing content from markdown files
import Dates from "./Dates.astro";

import Resources from "./Resources.astro";
import Hero from "./Hero.astro";
const paraContent = await Astro.glob("../content/aboutpara/*.md");
// const dateContent = await Astro.glob("../content/dates/*.md");
const coreTeamContent = await Astro.glob("../content/homePage/coreTeam/*.md");
const partnerContent = await Astro.glob("../content/homePage/partner/*.md");
const purposeContent = await Astro.glob("../content/homePage/purpose/*.md");
const significanceContent = await Astro.glob("../content/aboutpara/significance/*.md");
const faqContent = await Astro.glob("../content/faq/*.md");
---

<!-- Introduction -->
<div id="home">
    <Hero />
<div class="bg-[#fff6d2] md:px-4 pb-5">
    <div class="md:px-20 px-3">
    <h1 class="md:text-xl font-bold item-center text-center section-title mx-4 px-4" id="about">About</h1>
    <!-- <h2 class="welcome-heading"> Welcome to the Open Source Hardware IoT GIS Hackathon!</h2> -->
    {paraContent.map((point) => {
        return ( <p class="md:text-xl text-sm text-justify"> {point.frontmatter.para}</p>)})}


    <h1 class="mt-3 font-bold text-2xl">Benefits:</h1>{
    significanceContent.map((point) => {
        return (
                <ul class="md:pl-6 pl-3 list-disc" >
                    {/* <p>{point.frontmatter.intro}</p> */}
                    {
                        point.frontmatter.point.map((p:string) => {
                            return (
                                <li  class="md:text-lg text-sm ">{p}</li>
                            )
                        })
                    }
                </ul>
                // <p class="significance-end">{point.frontmatter.end}</p>
            )
        })
        }
        </div>
</div>

<!-- Important Dates -->
 <div class="grid md:grid-cols-2 background-url">
 <div>
<Dates />
</div>


<div class="flex items-center justify-center" id ="eligibility">
    <div class="">
    <h1 class="text-4xl font-bold item-center text-center section-title">Eligibility</h1>
   
    <div class="regBtnContainer">
        <p class="text-lg text-justify mx-3 px-3">Students pursuing B.E./B.Tech/M.Tech who seek to apply their programming skills in the development of scientific software. While having a background in Computer Science and Engineering/Information Technology or related fields with programming skills is preferable, we also consider students from other areas (ME, AE, EE, ECE etc.) or from other streams with strong programming skills.</p>
    </div>
</div>
</div>

</div>
<!-- Registration -->
<div class="registration-container   background-url" id ="register">
    <h1 class="text-4xl font-bold item-center text-center section-title">Registration</h1>
    <p class="text-center text-xl">Please click on the following button to register yourself for the competition</p>
    <div class="items-center text-center">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeuAU18u2mXkVZLxPeOyxfylcEn3GXYGmVdSsg37bPsUlUahw/viewform?usp=pp_url" target="_blank"><button class="custom-btn btn-15">Register</button></a>
           
        
    </div>
</div>



<!-- <Faq /> -->
<!-- Significance -->

<!-- <div class="body-container">
    <h1 class="intro" id = "purpose">Purpose</h1>{
        purposeContent.map((point) => {
            return (
                <p class="significance-end">{point.frontmatter.desc}</p>
            )
        })
    }
</div> -->




<!-- Partners and Organisers -->

<!-- <div class="pno-container" id = "partners">
    <h1 class="intro">Partner and Organisers</h1>
    <div class="tech-imgs">
       
    </div>{
        partnerContent.map((partner) => {
            return (
                <p>
                    <span class="subheading">{partner.frontmatter.name}</span>
                    {partner.frontmatter.description}
                </p>
            )
        })
    }
</div> -->



<!-- FAQ -->




<!-- <Resources /> -->

<!-- Core Team and Contact Us -->

<div class="bg-[#e7fcff] text-center" id ="contact">
    <h1 class="section-title text-center">Contact Us
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
        <path fill="currentColor" d="M4.05 21q-.45 0-.75-.3t-.3-.75V15.9q0-.325.225-.587t.575-.363l3.45-.7q.35-.05.713.063t.587.337L10.9 17q.95-.55 1.8-1.213t1.625-1.437q.825-.8 1.513-1.662t1.187-1.788L14.6 8.45q-.2-.2-.275-.475T14.3 7.3l.65-3.5q.05-.325.325-.562T15.9 3h4.05q.45 0 .75.3t.3.75q0 3.125-1.362 6.175t-3.863 5.55t-5.55 3.863T4.05 21" />
    </svg> -->
</h1>
   <!-- <div class="contact-us">{
        coreTeamContent.map((member) => {
            return (
                <div class="teach">
                    <h4>{member.frontmatter.name}</h4>
                    {member.frontmatter.position.map((pos:string) => {
                        return (
                            <p>{pos}</p>
                        )
                    })}
                    <p>{member.frontmatter.institute}</p>
                </div>
            )
        })
        }
    </div>-->
    <p class="text-xl">
        Please write to us in case of any queries regarding the Competition at:
    </p>
    <p class="email">
        <svg xmlns="http://www.w3.org/2000/svg" class="!inline-block text-xl" width="32" height="32" viewBox="0 0 32 32" {...props}>
            <path fill="black" class="!inline-block" d="M28 6H4a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2m-2.2 2L16 14.78L6.2 8ZM4 24V8.91l11.43 7.91a1 1 0 0 0 1.14 0L28 8.91V24Z" />
        </svg>
        Email : 
        <a href="mailto:contact-cfd@fossee.in" class="text-xl" target="_blank">contact-cfd@fossee.in</a>
        <!-- / -->
        <!-- <a href="mailto:mohamedkasim@iitb.ac.in" target="_blank">mohamedkasim@iitb.ac.in</a> -->
    </p>
</div>

</div>
<!-- CSS -->

  <style>
    .background-url{
        background: url(../assets/img/bg-01.png);
        background-attachment: fixed;
    }

 
    button {
  margin: 20px;
}
.custom-btn {
  color: #0a4850;
  width: 25rem;
  height: 50px;
  /* padding: 10px 25px; */
 
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  display: inline-block;
  font-size: larger;
}

    .btn-15 {
        font-size:larger;
        color: #0a4850;
        color: #ffcc00;
  border: 2px solid#00e1ff;
  border-radius: 18px;
  background: #fffdf3;
  box-shadow: 2px 2px 5px #007a8a, 2px 2px 5px #007a8a inset;
  z-index: 1;
  font-weight: 900;
  transition: 0.4s ease-in-out;
  
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
 z-index: -1;
 
  background: #ffcc00;
  border-radius: 18px;
  box-shadow:
   0 0 20px  #ffcc00;
  transition: all 0.4s ease-in-out;
  
}
.btn-15:hover {
  color: #0a4850;
  border: 2px solid#fff5cb;
  font-weight: 600;
  font-size:x-large;
  box-shadow: 2px 2px 5px #ffcc00, 2px 2px 5px #ffcc00 inset;
  
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}
    
  
  </style>

